@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --text-primary: #ededed;
  --text-secondary: #EBEBF599;
  --text-warning: #f0b90b;
  --text-buy: #2EBD85;
  --text-on-yellow: #202630;
  --bg-1: #202630;
  --bg-2:  #2525258C;
  --bg-warning: #2D2A20;
  --bg-button: #fcd535;
  --gradient-background: linear-gradient(125deg, #2e68ff, #2d5bff, #02c5ff, #10fbb8, #ffc500, #eb1c00);
  --shadow: 0 0 5px #ff0, 0 0 10px #ff0;
  --shadow-1: 0 0 7px #ff0, 0 0 15px #ff0;
  --shadow-2: 0 0 10px #ff0, 0 0 20px #ff0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-warning: var(--text-warning);
  --color-text-buy: var(--text-buy);
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-bg-warning: var(--bg-warning);
  --color-bg-button: var(--bg-button);
  --font-rajdhani: var(--font-rajdhani);
}

@theme {
  --animate-fade-in: fade-in 0.25s ease-in;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-glow-text: glow 1s infinite alternate;

  @keyframes glow {
    0% { text-shadow: var(--shadow); }
    100% { text-shadow: var(--shadow-2); }
  }

  --animate-glow-shadow: glow-shadow 1s infinite alternate;

  @keyframes glow-shadow {
    0% { box-shadow: var(--shadow); }
    100% { box-shadow: var(--shadow-1); }
  }
}

@utility border-primary {
  @apply rounded-full border border-solid border-white/[.145];
}

@media (prefers-color-scheme: light) {
  /* :root {
    --background: #ffffff;
    --foreground: #171717;
  } */
}

html, body {
  overflow: hidden;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}